<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="1010"><!-- General -->
        <setting id="username" type="text" label="1013" default="" />
        <setting id="password" type="text" option="hidden" label="1014" default="" />
        <setting id="debug" type="bool" label="1011" default="false"/>
    </category>
    <category label="1020"><!-- Auto Sync -->
        <setting id="autosync_moviecollection" type="bool" label="1021" default="false"/>
        <setting id="autosync_cleanmoviecollection" type="bool" label="1025" default="false"/>
        <setting id="autosync_tvshowcollection" type="bool" label="1022" default="false"/>
        <setting id="autosync_cleantvshowcollection" type="bool" label="1026" default="false"/>
        <setting id="autosync_seenmovies" type="bool" label="1023" default="false"/>
        <setting id="autosync_seentvshows" type="bool" label="1024" default="false"/>
    </category>
    <category label="1030"><!-- Rating -->
        <setting id="rate_movie" type="bool" label="1031" default="true"/>
        <setting id="rate_episode" type="bool" label="1032" default="true"/>
        <setting id="rate_each_playlist_item" type="bool" label="1033" default="true"/>
        <setting id="rate_min_view_time" type="slider" label="1034" range="0,5,100" default="75"/>
    </category>
    <category label="1040"><!-- Scrobbling -->
        <setting id="scrobble_movie" type="bool" label="1041" default="false"/>
        <setting id="scrobble_episode" type="bool" label="1042" default="false"/>
        <setting id="scrobble_min_view_time" type="slider" label="1043" range="0,5,100" default="75"/>
    </category>
</settings>
